<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CAP - Cursos</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendor/css/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../assets/css/freelancer.css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/style2.css">


</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">CAP</a>
        </div>
    </nav>

    <section class="portfolio mt-5" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-5">Cursos</h2>
            <div class="row">
                <div class="bg-cursos rounded p-3 mb-5">
                    <h3 class="text-center mb-4">Lorem, ipsum dolor emque maiores eaepe expedita hic dolorum facil</h3>

                    <div>
                        <span class="titulo2">Objetivo: </span>
                        <span class="texto-normal">Id repellat praesentium facere minima pefacere minima pefacere minima pefacere minima perspiciatis
                            iure quo nobis quasi asperiores!</span>

                    </div>
                    <div>
                        <span class="titulo2">Público Alvo: </span>
                        <span class="texto-normal">Todos</span>

                    </div>
                    <div>
                        <span class="titulo2">Carga Horária: </span>
                        <span class="texto-normal">20h</span>

                    </div>
                    <div>
                        <span class="titulo2">Local: </span>
                        <span class="texto-normal">CAP</span>
                    </div>
                    <div>
                        <span class="titulo2">Vagas: </span>
                        <span class="texto-normal">20</span>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Inscrever-se</button>
                    </div>
                </div>
                <div class="bg-info rounded p-3 mb-5">
                    <span class="titulo">Título: </span>
                    <span> Lorem, ipsum dolor emque maiores eaepe expedita hic dolorum facilis.</span>
                    <br>
                    <span>Objetivo: </span> Id repellat praesentium facere minima perspiciatis iure quo nobis quasi asperiores!
                    </h5>
                    <br>
                    <span>Público Alvo: Geral</span>
                    <br>
                    <span>Vagas Disponíveis:</span>
                    <span> 20</span>
                </div>
                <div class="bg-info rounded p-3 mb-5">
                    <h4>Título: Lorem, ipsum dolor emque maiores eaepe expedita hic dolorum facilis. </h4>
                    <h5>Objetivo: Id repellat praesentium facere minima perspiciatis iure quo nobis quasi asperiores! </h5>
                    <h5>Público Alvo: Geral</h5>
                    <h5>Vagas Disponíveis: 20</h5>
                </div>
            </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <img width="70px" class="img-ecompjr" src="../assets/img/ecompjr-icon.png" alt="">
                <p>
                    </small>Copyright &copy;
                    <a href="https://github.com/EcompJr">EcompJr</a> 2018</p>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Modal Inscrever-se -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inscrição</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu Nome">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Seu Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Seu Telefone">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Formação Acadêmica">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Cargo/Função">
                            </div>
                            <div class="form-group">
                                <label for="data">Data de Nascimento</label>
                                <input type="date" id="data" class="form-control col-4">
                            </div>
                            <div class="form-group">
                                <label for="def-visual">Deficiente Visual:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="simRadio" value="sim" checked>
                                    <label class="form-check-label" for="simRadio">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="naoRadio" value="nao">
                                    <label class="form-check-label" for="naoRadio">
                                        Não
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="def-visual">OBS:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="cegoRadio" value="cego" disabled>
                                    <label class="form-check-label" for="cegoRadio">
                                        Cego
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="poucaRadio" value="pouca" disabled>
                                    <label class="form-check-label" for="poucaRadio">
                                        Pouca Visão
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="def-visual">Para cursista com deficiência visual, Informar abaixo como deseja receber seu material instrucional:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="braille" value="braille" disabled>
                                    <label class="form-check-label" for="braille">
                                        Braille
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="dig" value="dig" disabled>
                                    <label class="form-check-label" for="dig">
                                        Digitalizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="amp" value="ampliado" disabled>
                                    <label class="form-check-label" for="amp">
                                        Ampliado. (Utilizamos a fonte Tamanha, corpo 24, negrito)
                                    </label>
                                </div>
                            </div>
                        </form>

                        <h4>Endereço Residencial</h4>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Sua Rua">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu Bairro">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Sua Cidade">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu Estado">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Concluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/js/jquery.min.js"></script>
    <script src="../vendor/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/js/jquery.easing.min.js"></script>
    <script src="../vendor/js/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../assets/js/jqBootstrapValidation.js"></script>
    <script src="../assets/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../assets/js/freelancer.min.js"></script>

</body>

</html>