.titulo{
    font-weight: bold;
    font-size: 35px;
    font-family: Montserrat;
}

.texto-normal{
    font-size: 20px;
    font-family: Montserrat;
}

.titulo2{
    font-weight: bold;
    font-size: 25px;
    font-family: Montserrat;
}

.bg-cursos{
    width: 100%;
    background-color: #e9ecef;
}

.card-login {
    max-width: 25rem;
}

.card-cadastro {
    max-width: 50rem;
}

/*body{
    width:1024px;
}

.areaImage{
    float:left;
    margin-top:10px;
}


.areaInfo p{
    float:right;
    max-width:500px;
    margin-right:10px;
}*/